body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    background-color: aqua
    
}

.hide-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}