body {
    font-family: Roboto, sans-serif;
    @include font(12px, 500, 1.67);
    color: var(--description-text-color);
    background: var(--main-background-color);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}




.hide-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}