:root {
    --first-color: #FFFFFF;

    --third-text-color: #000000;
    --fourth-text-color: #86515d;
}




:root {
    --title-text-color: #000000;
    --description-text-color: #FF6B08;
    --action-text-color: #FFFFFF;
    --footer-text-color: #545454;
    --error-text-color: #FF001B;
    --main-background-color: #E5E5E5;
    --rating-background-color: #FF6B01;
    --action-background-color: #FF6B08;
    --footer-background-color: #F7F7F7;
}