:root {
  --first-color: #ffffff;
  --third-text-color: #000000;
  --fourth-text-color: #86515d;
  --title-text-color: #000000;
  --description-text-color: #ff6b08;
  --action-text-color: #ffffff;
  --footer-text-color: #545454;
  --error-text-color: #ff001b;
  --main-background-color: #e5e5e5;
  --rating-background-color: #ff6b01;
  --action-background-color: #ff6b08;
  --footer-background-color: #f7f7f7;
}
