<footer>
    <div class="footer__container">
        <p class="copyright__text  footer__text ">© 2022 | All Rights Reserved |</p>

        <ul class="footer__list">
            <li class="footer__item  footer__text ">Developed with</li>
            <li class="footer__item">
                <svg class="footer__icon">
                    <use href="./images/symbol-defs.svg#icon-favorite" fill="#FF6B08"></use>
                </svg>

            </li>
            <li class="footer__item  footer__text ">
                by
                <a href="/" class="footer__link "> GoIT Students </a>
            </li>
        </ul>
    </div>
</footer>