<div class="container">
  <ul class="gallery">
    <li class="gallery__item">
      <a class="gallery__link" href="">
        <!-- <div class="gallery__wrap"> -->
        <img
          class="gallery__img"
          src="/src/images/test-images/film1.png"
          alt="film1"
        />
        <p class="gallery__name">GREYHOUND</p>
        <p class="gallery__information">Drama, Action | 2020</p>
        <!-- </div> -->
      </a>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="">
        <!-- <div class="gallery__wrap"> -->
        <img
          class="gallery__img"
          src="/src/images/test-images/film2.png"
          alt="film2"
        />
        <p class="gallery__name">GREYHOUND</p>
        <p class="gallery__information">Drama, Action | 2020</p>
        <!-- </div> -->
      </a>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="">
        <!-- <div class="gallery__wrap"> -->
        <img
          class="gallery__img"
          src="/src/images/test-images/film3.png"
          alt="film3"
        />
        <p class="gallery__name">GREYHOUND</p>
        <p class="gallery__information">Drama, Action | 2020</p>
        <!-- </div> -->
      </a>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="">
        <!-- <div class="gallery__wrap"> -->
        <img
          class="gallery__img"
          src="/src/images/test-images/film4.png"
          alt="film4"
        />
        <p class="gallery__name">GREYHOUND</p>
        <p class="gallery__information">Drama, Action | 2020</p>
        <!-- </div> -->
      </a>
    </li>
  </ul>
</div>
