<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="./sass/my-library.scss" />
    <script type="module" src="./index.js"></script>
  </head>
</html>
<body>
  <include src="./partials/header-my-lib.html"></include>
  <main>
    <include src="./partials/gallery-my-lib.html"></include>
    <include src="./partials/numeration-my-lib.html"></include>
  </main>
  <include src="./partials/footer-my-lib.html"></include>
  <include src="./partials/modal-my-lib.html"></include>
</body>
