.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.movie-card__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  transition: transform var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

img {
  display: block;
  height: auto;
}

.movie-card {
  font-family: Roboto;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 101;
  width: 280px;
  padding: 48px 20px 41px;
  transform: translate(-50%);
  background-color: var(--first-color);
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__item {
    display: block;
  }

  &__poster {
    border-radius: 5px;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 20px;
  }

  &__info {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  &__info--item {
    display: flex;
    color: var(--title-text-color);
  }

  &__info--title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--footer-text-color);
    margin-right: 38px;
  }

  &__vote {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    background-color: var(--rating-background-color);
    color: var(--action-text-color);
  }

  &__about {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }

  &__content--item {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  &__info--item:nth-child(1) h2 {
    margin-right: 41px;
  }

  &__info--item:nth-child(2) h2 {
    margin-right: 53px;
  }

  &__info--item:nth-child(3) h2 {
    margin-right: 47px;
  }

  &__info--item:nth-child(4) h2 {
    margin-right: 74px;
  }

  &__info--item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__info--item:nth-child(1) p,
  &__info--item:nth-child(2) p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  &__info--item:nth-child(3) p {
    text-transform: uppercase;
  }

  &__about--content {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    color: var(--title-text-color);
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .movie-card {
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 48px 20px 40px 20px;


    &__item {
      width: 240px;
    }

    &__poster {
      width: 240px;
      height: 357px;
      margin-bottom: 30px;
    }

    &__info--item {
      width: 240px;
    }

    &__about--content {
      width: 240px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-modal {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-card {
    top: 50%;
    left: 50%;
    width: 618px;
    padding: 42px 29px 40px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);

    &__item {
      width: 264px;
    }

    &__item:first-child {
      margin-right: 32px;
    }

    &__poster {
      object-fit: cover;
    }

    &__about--content {
      width: 264px;
    }

    &__info--item:nth-child(1) h2 {
      margin-right: 41px;
    }

    &__info--item:nth-child(2) h2 {
      margin-right: 53px;
    }

    &__info--item:nth-child(3) h2 {
      margin-right: 48px;
    }

    &__info--item:nth-child(4) h2 {
      margin-right: 74px;
    }
  }

}

@media screen and (min-width: 1024px) {
  .movie-modal {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card {
    top: 50%;
    left: 50%;
    width: 882px;
    height: 568px;
    padding: 42px 29px 40px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);

    &__item {
      width: 396px;
    }

    &__item:first-child {
      margin-right: 30px;
    }

    &__poster {
      width: 375px;
      height: 478px;
      object-fit: contain;
    }

    &__title {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }

    &__about--content {
      margin-bottom: 20px;
      width: 396px;
    }

    &__info--item:nth-child(1) h2 {
      margin-right: 85px;
    }

    &__info--item:nth-child(2) h2 {
      margin-right: 97px;
    }

    &__info--item:nth-child(3) h2 {
      margin-right: 92px;
    }

    &__info--item:nth-child(4) h2 {
      margin-right: 119px;
    }
  }
}

.button-wrapper {
  display: flex;
}

.modal-button {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: var(--third-text-color);
  border: 1px solid var(--third-text-color);
  background-color: transparent;
  cursor: pointer;
  transition: All 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:active {
    top: .3em;
    left: .3em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
  }

  &::before {
    content: "";
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
  }

  &:hover {
    color: var(--first-color);
    background-color: var(--action-background-color);
    border: none;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  }

  &:hover::before {
    background-color: var(--first-color);
    transform: translate3d(100%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  }
}

@media screen and (max-width: 1023px) {
  .modal-button {
    width: 125.03px;

    &:not(:last-child) {
      margin-right: 14.94px;
    }
  }
}

@media screen and (max-width: 767px) {
  .modal-button {
    width: 112.58px;

    &:not(:last-child) {
      margin-right: 14.85px;
    }

    &-watched {
      padding: 0 11px;
    }
  }
}