.loader {
  position: absolute;
  left: calc(50% - 50px);
  top: 300px;
  transform: translateX(-50%);

  opacity: 0;
  pointer-events: none;

  border: 12px solid var(--first-color);
  border-top: 12px solid var(--action-background-color);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
